@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: $suprem ;
  background-repeat: round;
  
}
.main {
  max-width: 544px;
  width: 100%;
  padding: 12 px;
  &__header {
    font-weight: 600;
    font-size: 48px;
  }
}
 

.form {
  &__actions {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 20vh;
    min-height: 32px;
   background: transparent;
    
    &--save { 
   background-image: url(https://fontmeme.com/permalink/200116/f0ce026998224e857c3d55457ad1fd6d.png);   
    background-repeat:no-repeat ;
    background-position: center;
    } 
    &--load {
      background-image: url(https://fontmeme.com/permalink/200116/8e72a1cef2e123b812dfaeb06b2f093b.png);   
      background-repeat:no-repeat ;
      background-position: center;
    }
  }
  &__textarea {
    padding: 12px;
    width: 100%;
    border: 1px none  ;
    border-radius: 8px;
    font-family: $OS-font;
    font-weight: bold;
    color: white;
    min-height: 50vh; 
    background: transparentize($color: #000000, $amount: 0.1); 
     
   
    
  }

}
 
 
 
 